[2018-06-20 10:30] StarpTech opened #1 "Create cli interface"
Use

* https://github.com/sindresorhus/globby
* https://github.com/substack/minimist

Options

* `--tab-width` (default 2)
* `--use-tabs` (default spaces)
* `--no-attr-reorder` (default true)

[2018-06-21 12:47] StarpTech opened #2 "HTML formatting style"
http://codeguide.co/#html-syntax

[2018-06-21 20:12] StarpTech commented on #1
Done

[2018-06-21 20:12] #1 closed

[2018-06-21 21:47] StarpTech opened #3 "Fix test suite"
Fix tests according to our changes.

* [x] prettyhtml-hast-to-html
* [x] prettyhtml-hast-util-from-parse

[2018-06-21 21:48] StarpTech opened #4 "Setup travis and codecov"

[2018-06-22 08:16] StarpTech opened #5 "Split repo in multiple packages"
As soon as we arrived a stable state we should split it up into multiple packages for better maintainability. Lerna ?

[2018-06-23 11:37] StarpTech commented on #5
Done

[2018-06-23 11:37] #5 closed

[2018-06-25 09:48] StarpTech opened #6 "Implement print-width (default 80)"

[2018-06-25 09:48] StarpTech opened #7 "Sort attributes"

[2018-06-25 09:48] StarpTech opened #8 "Update tests from forked packages"

[2018-06-25 09:48] StarpTech opened #9 "More tests for components and special cases"

[2018-06-25 09:49] StarpTech opened #10 "Handle comments"

[2018-06-25 09:50] StarpTech opened #11 "In fragment mode html body are removed"

[2018-06-25 16:13] StarpTech commented on #10
Solved

[2018-06-25 16:13] #10 closed

[2018-06-25 19:21] StarpTech commented on #7
Done by https://github.com/rehypejs/rehype-minify/tree/master/packages/rehype-sort-attributes

[2018-06-27 13:47] StarpTech commented on #11
[code]

[2018-06-27 14:36] StarpTech opened #12 "Create HAST from X parser"
For angular and vuejs

[2018-06-27 14:42] StarpTech commented on #12
### Angular
* https://github.com/stringham/angular-template-formatter/blob/master/src/prettyprint.ts
*https://github.com/angular/angular/blob/c8a1a14b87e5907458e8e87021e47f9796cb3257/packages/compiler/test/ml_parser/ast_serializer_spec.ts

### Vue
* https://github.com/vuejs/vue/blob/dev/src/compiler/parser/index.js

[2018-07-03 15:31] #11 closed

[2018-07-05 08:23] kasperpeulen opened #13 "prettyhtml removes html, head and body tags"
I ran prettyhtml on this input:

[code]

The output is:

[code]

[2018-07-05 09:45] StarpTech commented on #13
Hi @kasperpeulen thanks for checking out prettyhtml. Prettyhtml is heavily under development I appreciate any feedback. After this [PR](https://github.com/StarpTech/prettyhtml/pull/14) has landed it should fix most of your issues. Please test it again.

[2018-07-05 09:50] StarpTech commented on #12
No need right now. Custom fork of parse5 can parse all templates.

[2018-07-05 09:50] #12 closed

[2018-07-05 09:53] StarpTech commented on #13
Please check out prettyhtml 0.0.6

[2018-07-05 22:17] StarpTech commented on #13
With latest version
[code]

plus any embedded content is formatted with prettier 😄

[2018-07-05 22:19] #9 closed

[2018-07-07 18:59] #13 closed

[2018-07-09 10:00] StarpTech opened #15 "Attributes quotes escaping/transformation"
e.g

[code]
will produce

[code]

should produce

[code]

[2018-07-09 13:06] StarpTech commented on #15
I came to the conclusion that we don't need to escape or encode any value. We have two options:

* we use the same quote symbol as in the original source. This location can be extracted from `node.position.properties`.
* we ingore it and the developer has to ensure a consistent style. He can configure the quote symbol with e.g `quote: "'"`

[2018-07-10 19:37] #8 closed

[2018-07-11 10:51] StarpTech opened #16 "Indent <template> tags"
Current behavior

In
[code]

[2018-07-23 21:21] #6 closed

[2018-07-23 21:31] StarpTech opened #17 "support templated html expressions"
Original: https://github.com/prettier/prettier/pull/4753#issuecomment-404941091

Example:

[code]

prettyhtml outputs
[code]

It would be nice if prettyhtml could output something like:
[code]

[2018-07-28 23:18] StarpTech commented on #17
Support for angular, vue, erb (ruby) implemented.

[2018-07-28 23:18] #17 closed

[2018-08-19 17:24] StarpTech opened #19 "Put ">" on newline when wrapping multiple attributes"
For multiple attributes that extend beyond the printWidth, I would prefer this:

[code]
over
[code]

[2018-08-19 17:53] StarpTech commented on #19
Fixed with https://github.com/StarpTech/prettyhtml/pull/20

[2018-08-19 17:53] #19 closed

[2018-08-19 18:17] StarpTech opened #21 "Align comments"
Input
[code]
Output
[code]

[2018-08-20 06:49] StarpTech opened #22 "Indent nested template expressions"
While template expressions like `{{}} ` are handled correctly in some other frameworks you can nest them e.g with loops or conditions. Those inner expressions should be indended one level further.

[2018-08-20 06:59] StarpTech opened #23 "Parse5 converts html entities in attributes"
The current parse5 html parser converts html entity codes `&#xxx` inside attributes with the Utf8 equivalent. This is indeed compliant with the specs but we should avoid it.

[code]

We have to modify our [fork](https://github.com/StarpTech/parse5) in order to skip this behavior with a flag.

[2018-08-20 20:10] StarpTech commented on #21
Only the last line of the comment is aligned. The content of the comment is still handled as text.

[2018-08-20 20:10] #21 closed

[2018-08-20 21:36] StarpTech commented on #23
Fixed in https://github.com/StarpTech/prettyhtml/releases/tag/v0.0.37

[2018-08-20 21:36] #23 closed

[2018-08-21 15:37] StarpTech opened #24 "Correct attribute quoting"
Input
[code]
Output
[code]

[2018-08-21 18:35] StarpTech commented on #24
Fixed in https://github.com/StarpTech/prettyhtml/releases/tag/v0.0.39

[2018-08-21 18:35] #24 closed

[2018-08-23 07:15] StarpTech opened #25 "Format template expressions"
* Remove whitespace when possible
* Format on one line

[2018-09-02 18:38] #4 closed

[2018-09-02 18:38] #3 closed

[2018-09-04 20:55] StarpTech opened #26 "Handle text template expression from different frameworks"
- Format template expression correctly

While template expressions like {{}} are handled correctly in some other frameworks you can nest them e.g with loops or conditions. Those inner expressions should be indented one level further.

* [ ] Implement a template expression parser

[2018-09-04 20:55] StarpTech commented on #25
Close in favor of https://github.com/Prettyhtml/prettyhtml/issues/26

[2018-09-04 20:55] #25 closed

[2018-09-04 20:55] StarpTech commented on #22
Close in favor of https://github.com/Prettyhtml/prettyhtml/issues/26

[2018-09-04 20:55] #22 closed

[2018-09-10 13:55] tao-cumplido opened #27 "Problems with tables"
I encountered some problems with tables. I have two components `my-table` and `my-row`.

The template for `my-table` is like this:
[code]
One pf the problems is that `ng-content` gets extracted from the `table` tree, i.e. the output is like this:
[code]
The other problem I encountered is when I actually use `my-table` in another template:
[code]
prettyhtml strips the `td` elements:
[code]

Version

[2018-09-10 21:14] StarpTech commented on #27
Hi, thank you for checking out prettyhtml. I can reproduce it and the reason is parse5 (the internal used html parser) it parsed the content based on the current browser specifications.

I will investigate.

[2018-09-12 22:02] StarpTech commented on #27
Fixed with the latest update @starptech/prettyhtml 0.0.56

[2018-09-15 08:35] StarpTech commented on #27
Feel free to reopen the issue. I tested both cases and it works.

[2018-09-15 08:35] #27 closed

[2018-09-25 23:23] octref opened #29 "Do not add head/body/html etc"
[code]

I'm wondering why the result is:

[code]

IMO the default behavior should be just formatting the input, not wrapping anything around it.

[2018-09-28 20:50] StarpTech commented on #29
Hi @octref thanks for the report. I'm working on a much better parser which is less restrict and easier to maintain. The PR is ready https://github.com/Prettyhtml/prettyhtml/pull/30/files I will merge it in the next days and it would be great if you could test it intensively.

[2018-09-29 10:06] StarpTech commented on #29
The new parser was released in `0.1.0`. I can't reproduce it anymore.

[2018-09-29 10:06] #29 closed

[2018-09-29 21:50] octref commented on #29
Thanks for the quick fix!

[2018-10-01 19:01] koca opened #31 "Tabs and spaces are mixed when `use-tabs: true`"
Hi, first of all thank you for the lib 👍

### Issue

When I configured prettyhtml to `useTabs` it indents using tabs except for the HTML attributes. Attributes indented using spaces. Which I guess should be indented using tabs. See the example below.

### Example

Ascii chars:

`·` &nbsp;Represents a space char

`→` &nbsp;Represents a tab char

Options:

[code]

Input:

[code]

Expected Output:
[c

[2018-10-01 19:41] StarpTech commented on #31
Hi @koca,
thank you for the bug report. I will investigate.
I like the prettyhtml 😄 great work! It would be great if you could host the project under the prettyhtml organisation. I can add you as a contributor?

[2018-10-01 19:53] koca commented on #31
Thanks! Sure, let's do it :) where do we start?

[2018-10-01 20:05] StarpTech commented on #31
Great! I added you as a member. You can move your project to prettyhtml org in the repo settings.

[2018-10-01 20:09] koca commented on #31
Done! ^^

[2018-10-01 20:21] StarpTech commented on #31
Welcome! 😄

[2018-10-01 20:28] #31 closed

[2018-10-03 11:37] StarpTech opened #33 "Fix failing travis build"
~Issue: https://github.com/facebook/jest/issues/7094~

[2018-10-03 19:00] octref opened #35 ".d.ts is not published in npm packages"
[code]

[2018-10-04 07:31] #33 closed

[2018-10-05 06:47] antonreshetov opened #39 "Preserve attributes line break config"
Set the number of attributes before the line breaks.

-  force (wrap each attributes)
- number (minimum number before wrap)

Because sometimes there are long values in attributes

[code]

It looks better

[code]
For example, if there are more attributes than one, I always brake the line.
As I understand it now is the value of 5 attributes

With respect

[2018-10-05 07:44] StarpTech commented on #39
Hi @antonreshetov thanks for the report.

This behavior you described is already implemented. Go to https://prettyhtml.netlify.com/ and play with the "printWitdth" e.g reduce to `60`.

No, it always depends on the line-width.

[2018-10-06 18:28] koca opened #41 "minify-whitespace pkg is missing the `list.json` file"
Hey!

`Error: Cannot find module './list.json' from '@starptech/rehype-minify-whitespace'`

i'm getting this error when browserifying the prettyhtml.
I guess you forgot to add `list.json` to package.json `files` section ?

[2018-10-06 19:11] StarpTech commented on #41
You're right I will provide a fix in a minute.

[2018-10-06 19:27] #41 closed

[2018-10-06 19:28] StarpTech commented on #41
Fixed in prettyhtml@0.2.1

[2018-10-08 21:20] StarpTech commented on #39
Closing due to inactivity.

[2018-10-08 21:20] #39 closed

[2018-10-11 08:04] qiaozhu opened #42 "The attributes is modified when formatting."
class-name => class

input

[code]
output

[code]

[2018-10-11 19:17] StarpTech commented on #42
Hi @qiaozhu thank you for the report. I will check it.

[2018-10-14 15:25] gertqin opened #43 "Allow one blank line between elements at the same level"
## 🚀 Feature Proposal

Like prettier allows one blank line between statements in the same scope, prettyhtml could also allow one blank line between elements at the same level (potentially as a configuration option).

## Motivation

It can improve readability of long html.

## Example

This would then be allowed:

[code]

where as

[code]

should become

[code]

[2018-10-14 15:53] StarpTech commented on #42
The issue could be identified in [property-information](https://github.com/wooorm/property-information/issues/12) and the fix will be land in a few days 🎉

[2018-10-14 15:56] StarpTech commented on #43
Hi @gertqin thank you for your proposal. I agree that it could help for some scenarios but I'm not convinced. Can you show me some real examples? Can you link me to the prettier option?

[2018-10-14 17:04] gertqin commented on #43
Hi @StarpTech, thanks for considering the proposal :)

While I agree with you, that if you can keep your html components small enough this would not be needed. But in bigger applications this can be hard to achieve.

As an example here is (a bit simplified) vue component from one of my projects:

[code]

Here the blank lines separates the header, item and placeholder sections, which I think makes

[2018-10-17 22:18] maeldur opened #44 "improperly closed textarea element unexpectedly slurps following content"
## 🐛 Bug Report

Improper closing of <textarea> slurps up the rest of the content in the file (as opposed to adding a </textarea> tag and proceeding.

## To Reproduce

Steps to reproduce the behavior: https://repl.it/repls/OnlyShabbyCgi

Paste your markup here:

[code]
creates
[code]

and

[code]
produces
[code]
## Expected behavior

keep the textarea element, close it, and keep following content,

[2018-10-18 07:51] StarpTech commented on #44
Hi @maeldur thank you for the report. Your examples represent invalid HTML. Prettyhtml wasn't designed to be 100% HTML5 spec compliant and failure tolerant. In practice, you will use a framework like Angular or Vue which will warn you about such mistakes but I agree since we transform it silently we should warn about it. The errors are already collected so it should be easy to expose them.

If you

[2018-10-18 14:15] thedamon opened #45 "Option to never wrap single attributes and always wrap multiple attributes"
## 🚀 Feature Proposal

I don't see a setting for attribute wrapping other than printWidth. This is surprisingly ok since with a pretty low printWidth, the default formatting is quite to my liking, but it ends up looking odd when wrapping single attribute elements. I would love a setting like this:

[code]

or more simply but less flexible:

[code]

## Motivation

Approaching wrapping based on attr

[2018-10-18 15:46] StarpTech commented on #45
Hi @thedamon thanks for your proposal! I understand your reasons but I'm not convinced from your examples. Wrapping attributes based on the printWidth work for most of the use cases. I don't want to add another option when they aren't really required.

If you want to archive this formatting with the current solution you can use the ignore flag:
[code]

[2018-10-18 19:14] shasderias opened #46 "unwanted tbody tags being inserted"
## 🐛 Bug Report
prettyhtml is inserting unwanted tbody tags when formatting a Vue template where the actual tbody tag will be inserted by a component.

In the example below, the draggable component will provide the tbody tag. However, prettyhtml adds its own tbody tag, leading to 2 tbody tags in the final output.

## To Reproduce
Steps to reproduce the behavior:
$ prettyhtml [filename]

Paste your

[2018-10-19 11:29] StarpTech commented on #46
Hi @shasderias thank you for the bug report. The bug was fixed in #47

[2018-10-19 12:05] StarpTech commented on #46
Fix with https://github.com/Prettyhtml/prettyhtml/releases/tag/v0.2.4

[2018-10-19 12:05] #46 closed

[2018-10-19 14:29] StarpTech commented on #44
Closed in https://github.com/Prettyhtml/prettyhtml/releases/tag/v0.3.0

[2018-10-19 14:29] #44 closed

[2018-10-19 14:42] StarpTech commented on #43
@gertqin I'm fine with your proposal. Would you mind to a create a PR?

[2018-10-20 04:35] shasderias commented on #46
Thank you for the quick fix!

[2018-10-21 23:42] rndmerle opened #50 "HTML attributes being transformed even on custom components"
I've noticed HTML attributes being transformed.

`=""` added for value-attributes:
[code]

hyphen removed when this attribute without hyphen exists:
[code]

I can understand why I probably shouldn't even use global HTML attributes like itemtype or title on custom components, but should I really be prevented to use the wrap attributes on a custom component just because it's defined for <textarea>?

[2018-10-22 02:21] octref commented on #44
IMO, `Unexpected character "EOF"` is not a suggestive error message for unclosed elements...

[2018-10-22 06:33] StarpTech commented on #44
@octref https://stackoverflow.com/questions/38903038/unexpected-character-eof-do-you-have-an-unescaped-in-your-template-use

[2018-10-22 06:43] StarpTech opened #51 "Webparser - missing tests for lexer, whitespace handling"
Add more tests for webparser

* Lexer: https://github.com/angular/angular/blob/cf0968f98e844043a0f6c2548201f3c0dfd329a7/packages/compiler/test/ml_parser/lexer_spec.ts
* Whitespace: https://github.com/angular/angular/blob/cf0968f98e844043a0f6c2548201f3c0dfd329a7/packages/compiler/test/ml_parser/html_whitespaces_spec.ts

[2018-10-22 15:38] octref commented on #44
What I can do is to surface the line/column numbers from prettyhtml, so you could see where the error is in the editor. The error is a lexer error and I think you should be able to improve the error message by identifying the code path in the lexer and add a nicer error message over there.

[2018-10-23 10:48] StarpTech commented on #50
Hi @rndmerle I'm trying to understand your issue. If you use known empty html attributes like `wrap` they are transformed with hyphen. According to your second issue that `item-type` is transformed to `itemtype` this was fixed in the latest [version](https://prettyhtml.netlify.com/).

[2018-10-23 13:09] rndmerle commented on #50
Thanks for your answer, and good news for "itemtype"!

About "wrap" attribute and such I was just wondering why prettyhtml is adding an empty value to some attributes.
The more I think of it the more I see the logic actually.
That's just a bit annoying for custom components (I can't use `wrap` or `title` as boolean attributes), but it's not a big deal :)

Thank!

[2018-10-23 13:19] StarpTech commented on #50
I understand it but in that case, you shouldn't collide with public properties and as described before `wrap=""` is exactly the same as `wrap` so it should detected as true in your logic. Unset properties are `null`

[2018-10-23 13:19] #50 closed

[2018-10-23 15:55] casey6 commented on #44
I think it's worth mentioning that in the Vue ecosystem this is _not_ considered a mistake (despite technically being invalid markup). In fact it's the recommended way to write code in single file components. All other native html elements that I've tested seem to work fine with prettyhtml (`<div/>`, `<span/>`, `<header/>`, etc) with the exception of `<textarea/>`.

https://vuejs.org/v2/style-guid

[2018-10-23 16:14] StarpTech commented on #44
Did you check it with the latest version? Self-closing known HTML elements are invalid. There is a list of valid [void elements](https://www.w3.org/TR/html5/syntax.html#void-elements) You only self-close custom elements.

[2018-10-23 16:15] StarpTech commented on #44
In the version of prettyhtml we will throw errors and warnings. Checkout https://prettyhtml.netlify.com/

[2018-10-23 16:36] casey6 commented on #44
Ah, yep it looks like those other elements with throw errors now.

I'll reiterate that this conflicts with conventions in the Vue ecosystem. Obviously it's your call on whether that's important enough to reconsider the approach here. It might not be. But it's a bit unfortunate because it seemed like this formatter filled a big hole in the developer experience when working with Vue.

[2018-10-23 16:48] StarpTech commented on #44
Hi @casey6 I'm open to any change. Feel free to make a proposal.

[2018-10-23 18:31] casey6 commented on #44
My suggestion would be to allow self-closing non-void native html elements. So `<img />` would be transformed to `<img>`, while `<div />` would be transformed to `<div/>` and not throw an error. Basically the way it was working prior to `v0.3.0` but fix the weird behavior with `<textarea/>`.

**Input:**

[code]

**Output:**

[code]

I'm coming from the perspective of using this on Vue projects, wh

[2018-10-23 18:36] StarpTech commented on #44
Please create the proposal in a separate issue.

[2018-10-23 18:55] maeldur opened #52 "When nesting single/double quote element attribute values, incorrect markup can be generated"
## 🐛 Bug Report

When nesting single/double quote element attribute values, incorrect markup can be generated.  For example <div @click="onClick('div')"></div> and using single quotes, it becomes <div @click='onClick('div')'></div>

also vice versa with @click='onClick("div")' with double quotes, becomes @click="onClick("div")"

## To Reproduce

Steps to reproduce the behavior:

https://repl.it/re

[2018-10-23 18:56] maeldur commented on #52
oops, hit enter too early on the issue. filling out the body now.

[2018-10-23 19:28] StarpTech commented on #52
Hi @maeldur thank you for the bug report. This is a well known behaviour and a limitation. The formatter doesn't escape or sanitize your content. You have to decide for one way.

[2018-10-23 19:28] #52 closed

[2018-10-23 20:10] #51 closed

[2018-10-23 20:29] ScreamZ commented on #50
@StarpTech I'm using `vuetify` with vetur which is a completion extension for vsCode for vueJS.

I'm always using things like `<v-layout row wrap>` and this get converted to `<v-layout row wrap="">` is there any way to prevent this ? (confort)

Regards

[2018-10-23 21:17] StarpTech opened #53 "Quotes are added on empty known html arttributes"
## 🐛 Bug Report

Omit quotes when possible. According to https://html.spec.whatwg.org/multipage/introduction.html#intro-early-example

## To Reproduce

Steps to reproduce the behavior:

When a known HTML attribute is used and it has no value we add quotes.

[code]
result
[code]

## Expected behavior

Quotes should only be added when the attribute has a value

Paste the results here:

[code]
result

[2018-10-23 21:17] StarpTech commented on #50
@rndmerle @ScreamZ I opened a new issue for that https://github.com/Prettyhtml/prettyhtml/issues/53

[2018-10-25 19:50] #53 closed

[2018-10-25 21:39] StarpTech opened #55 "Allow parsing of self closing custom and known HTML elements"
## 🚀 Feature Proposal

Allow parsing of self closing custom and known HTML elements.

## Motivation

https://vuejs.org/v2/style-guide/#Self-closing-components-strongly-recommended

## Example
in
[code]
out
[code]

[2018-10-25 21:40] StarpTech commented on #44
@casey6 proposal is tracked here https://github.com/Prettyhtml/prettyhtml/issues/55

[2018-10-26 19:34] #55 closed

[2018-10-26 19:35] StarpTech commented on #44
@casey6 your proposal was implemented with https://github.com/Prettyhtml/prettyhtml/pull/56

[2018-10-26 23:37] rndmerle opened #57 "<tbody> element added as <tr> parent"
## 🐛 Bug Report

If the parent of `<tr>` is not `<tbody>` then a `<tbody>` element is added.
But with custom components, prettyhtml can't see if the parent isn't providing the `<tbody>` element under the hood. And a double `<tbody>` is pretty bad.

## To Reproduce

[code]

## Expected result

[code]

## Actual result

[code]

## Context

- [ ] Angular
- [ ] Svelte
- [X] Vue
- [ ] Riot
- [ ] HTML5

[2018-10-27 10:08] rndmerle commented on #57
I've just seen https://github.com/Prettyhtml/prettyhtml/issues/46
not sure why it's still happening.

[2018-10-27 10:12] StarpTech commented on #57
Hi @rndmerle thanks for the bug report. In your markup, you don't close any tag. When I format
[code]

[2018-10-27 10:15] StarpTech commented on #57
Vetur needs an update to 0.4.x

[2018-10-27 10:17] rndmerle commented on #57
Sorry for the troubles. Actually the used version is older than 0.3.3.
I looked in package.json from Vetur extension to get the version but actually the latest release Vetur 0.13.0 is older than that :(
Works great with the prettyhtml client.

Sorry again.

[2018-10-27 10:17] #57 closed

[2018-10-27 10:18] StarpTech commented on #57
No problem. Would you mind to create a PR to update vetur?

[2018-10-27 17:59] rndmerle commented on #57
Well, it seems they update prettyhtml package pretty often. It's just that their release schedule is not as fast.

[2018-10-27 23:59] transtone commented on #45
we want a option like  `js-beautify-html`'s    `wrap_attributes": "force-aligned`.

` I don't want to add another option when they aren't really required.`
you don't want, but some user want, how to chose?

[2018-10-28 16:20] StarpTech commented on #43
Fixed in https://github.com/Prettyhtml/prettyhtml/pull/58

[2018-10-28 16:20] #43 closed

[2018-10-28 17:00] StarpTech commented on #45
Please have in mind that prettyhtml is a formatter for everyone not only for vue. While I agree that the situation can be tricky in some cases I disagree to add another option in order to be more flexible. The goal with prettyhtml is to provide a consistent and opinionated formatter with less options as possible.

But I don't disagree with your proposal! Let's see how other people think about it.

[2018-10-28 18:28] rndmerle opened #59 "Base indentation inside <script> and <style>"
## 🚀 Feature Proposal

Prettier applied on a .vue file will remove the base indentation of <script> and <style> content:

Input:
[code]

Output:
[code]
Not everyone is happy with this tho: https://github.com/prettier/prettier/issues/3888

Prettyhtml actually do the opposite:

Input:
[code]

Output:
[code]

## Desired output

There are two solutions imo:
- Follow the current convention established

[2018-10-28 18:46] StarpTech commented on #59
I agree we should be consistent. Would you like to send a PR?

[2018-10-28 19:15] StarpTech commented on #59
Could you reference to the vue guideline?

[2018-10-28 20:13] rndmerle commented on #59
I'm a bit surprised it's not on the guidelines (https://vuejs.org/v2/style-guide/), it's just formatted this way on guidelines examples. It's probably enough to make prettier favor this style.
I can't test right now how it's formated on a regular html file.

Vetur Vscode extension has an option to indent script and style content (off by default).
I guess people format either way, unless they use P

[2018-10-28 23:08] rndmerle commented on #59
Interesting survey.
I think it's reasonable to let it this way actually.

People preferring to indent might find in Prettyhtml a good alternative to Prettier's client. Because I doubt they change this behavior.

And people preferring no indentation can just apply Prettier after Prettyhtml.

[2018-10-29 14:57] thedamon commented on #45
I don't mean to single out Vue necessarily, but it is worth considering that their formatting recommendation is quite a good one. To explain a little more why I think attribute number makes more sense than character line length for beautifying html:

Javascript is a very flexible, statement driven language, where different things can be written in many different ways and we have no idea what peopl

[2018-10-29 20:37] StarpTech commented on #45
@thedamon thanks for your detail view on the things. Initially, I added attribute wrapping based on `printWidth` due to the fact that it allows optimizing the content based on the available space of each developer it doesn't matter with which data you are faced with.

This is the common approach for almost any markup formatter and it works in a wild. If we would wrap based on attributes count we c

[2018-10-30 08:32] bsaf opened #60 "Extra line added under comments containing "if""
## 🐛 Bug Report

A rogue extra line is being added under comments containing the word "if".

## To Reproduce

Steps to reproduce the behaviour:

[code]

## Expected behaviour

Should output the same as the input.

## Actual behaviour

[code]

## Context

Just plain HTML5.

[2018-10-30 08:37] StarpTech commented on #60
Hi @bsaf thanks for the bug report. Would you like to send a PR?
The issue is [here](https://github.com/Prettyhtml/prettyhtml/blob/master/packages/prettyhtml-formatter/index.js#L370). We have to match for `\s[if` not for any if in the comment node.

[2018-10-30 09:06] bsaf commented on #60
Will do! Will try and do this week. Thanks for the pointer to the code.

[2018-10-30 21:00] #60 closed

[2018-10-31 04:21] pycodev opened #62 "support wrap attribute based on the count of attributes"
based on the count of tag's attributes, decide whether to wrap attribute.

thx :)

[2018-10-31 07:49] StarpTech commented on #62
Is this a duplicate of https://github.com/Prettyhtml/prettyhtml/issues/45? When not, please use the proposal issue template to describe your expectations in detail.

[2018-11-06 08:19] XUWeijiang opened #63 "Close Html Empty Tags"
I hope the formatted document will be well-formed, that is, all html tags including br, input, etc are closed.

## Motivation

1. Although html5 is not required this, xml-conformance document would be better to read and use.
2. Better support for vue customized component in case vue components use html empty element tag names.

## Example

Currently if I use iview (a vue library) Input component,

[2018-11-06 21:56] #63 closed

[2018-11-07 13:57] thedamon opened #65 "Formatter removes spaces around inline elements"
## To Reproduce

[code]

## Current behaviour

[code]

## Expected behavior

Spaces around words should not be removed. The current behaviour breaks completely reasonable and common ways of writing HTML by forcing multiple words together. it should at the very least retain the space between the end of the tag and a new word not contained by a tag

## Context
Used the netlify site to create this ex

[2018-11-07 14:38] StarpTech commented on #65
Hi @thedamon thanks for the report. Would you like to send a PR?

[2018-11-07 21:32] pbastowski commented on #59
Hi guys

Can I assume by the `proposal` tag that this feature is going ahead?

In case it is, it says here how to do it: https://github.com/prettier/prettier/issues/3888#issuecomment-385960667

Also, is it likely to be implemented before Christmas 2018?

Thanks for creating the proposal. I thought I'd retire before I saw it happen 😄

[2018-11-08 20:58] StarpTech commented on #59
Hi @pbastowski no problem. Did you give Prettyhtml a try?

[2018-11-08 20:58] StarpTech commented on #59
I will close this issue for now. Feel free to reopen.

[2018-11-08 20:58] #59 closed

[2018-11-08 21:10] #65 closed

[2018-11-08 21:10] pbastowski commented on #59
@StarpTech No, I haven't tried it yet. Sounds like something to do on the weekend.

[2018-11-08 21:38] StarpTech commented on #45
I decided to add a new option called `wrapAttributes` when true it will always wrap attributes when the element has more than one.

[2018-11-08 21:40] StarpTech commented on #59
@pbastowski I appreciate any feedback!

[2018-11-08 22:11] #45 closed

[2018-11-08 22:15] #62 closed

[2018-11-10 19:04] #7 closed

[2018-11-12 09:53] StarpTech opened #70 "Add tests for prettyhtml cli"
As titled

[2018-11-20 04:11] xiaomingplus commented on #59
I think the intend should be use prettier config tabWidth. I will give you a pull request

[code]

[2018-11-22 15:18] xiaomingplus opened #72 "foramt image tag throw error"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

format a <image> tag, throw Error.

## To Reproduce

Config: Defaull config

Steps to reproduce the behavior:

Paste your markup here:

[code]

## Expected behavior

A cl

[2018-11-22 15:22] StarpTech commented on #72
Hi @xiaomingplus thanks for the report. Prettyhtml isn't responsible to fix your HTML it expect 100% valid HTML5 markup. The `image` tag has to be closed with a slash.

[2018-11-22 15:45] xiaomingplus commented on #72
@StarpTech yes, but if I close the ```image``` with a slash,prettyhtml will remove the slash,and again run prettyhtml,it will throw a Error

[2018-11-22 16:31] StarpTech commented on #72
@xiaomingplus oh I was confused by the name `image` I interpreted it as `img` 😄 This is an issue.

Have a look [here](https://www.w3.org/TR/html51/syntax.html#named-character-references) and search for `image`

The issue is that we don't interpret `image` tag as a valid void element. We just need to add the element [here](https://github.com/Prettyhtml/prettyhtml/blob/master/packages/webparser/src/

[2018-11-22 17:05] xiaomingplus commented on #72
I'll try,thank you!

[2018-11-22 17:33] xiaomingplus commented on #72
input:
[code]

output:

[code]

or,input:

[code]

output:

[code]

or ,input :

[code]

output:

[code]

but,I don't know how to do this.

[2018-11-22 20:17] StarpTech commented on #72
I think we should treat it as a void element. It's a equals to the `img` according to the specs.

[2018-11-24 19:18] #72 closed

[2018-11-25 03:09] xiaomingplus opened #74 "Can't pass vetur plugin unit test"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

since the 0.8.2 version seems can't pass the vetur unit test.(<https://github.com/vuejs/vetur/blob/master/test/lsp/formatting/basic.test.ts>),I think the 0.8.2`s update d

[2018-11-25 11:04] StarpTech commented on #74
That bug must be introduced with https://github.com/Prettyhtml/prettyhtml/releases/tag/v0.5.3 because it's the only place where we changed whitespace handling. I will investigate.

[2018-11-25 13:09] #74 closed

[2018-11-25 13:33] xiaomingplus commented on #74
@StarpTech ```a``` tag end have a whitespace between  ```|```,is it expected?
vetur unit test don't have a whitespace.

[code]

[2018-11-25 13:50] StarpTech commented on #74
Hi @xiaomingplus yes it is intended because that was a bug fixed with v0.5.3. In that case the formatter can't know the rendering context `inline` or `block` and in order to avoid issues we prevent if from removing.

e.g

[code]
is not the same as
[code]

[2018-11-25 14:30] StarpTech commented on #74
@xiaomingplus yes

[2018-11-25 14:32] xiaomingplus commented on #74
thanks, @StarpTech ,I'll give a pr to vetur~

[2018-11-27 07:37] magpiedigital opened #76 "Option to never wrap attributes"
## 🚀 Feature Proposal

Attributes always get wrapped, even when 'wrap attributes' set to false. I believe this is intentional. It would be great if there was an option to never wrap attributes, keeping them inline.

## To Reproduce

Steps to reproduce the behavior:

Set wrap attributes to 'false'
[code]

## Expected behavior

A clear and concise description of what you expected to happen.

Paste t

[2018-11-27 20:48] StarpTech commented on #76
Yes, it based on the printWidth. You can easily reach this behaviour already by setting `printWidth` to a high value like `1000`

[2018-11-28 01:53] lhajh opened #77 "Put ">" after the last attribute when wrapping multiple attributes"
## 🚀 Feature Proposal

For multiple attributes that extend beyond the printWidth, I would prefer this:

[code]

not this:

[code]

Although this is prettier than the one above, but indentation is a hassle, so can you add a configuration to choose between this two formatting options?

## Vote

If you agree with my proposal vote with a 👍

[2018-11-28 02:26] bufordchen opened #78 "Colon is missing when using in Vue templates"
## 🐛 Bug Report

Colon is missing when using special scenes in Vue templates

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

## Actual result

[code]

## Context

- [ ] Angular
- [ ] Svelte
- [X] Vue
- [ ] Riot
- [X] HTML5 only

## Your Environment

- Prettyhtml version: https://prettyhtml.netlify.com/ OR vetur (vs code plugin "vetur.format.defaultFormatte

[2018-11-28 12:12] FFxSquall opened #79 "Adds trailing spaces"
## 🐛 Bug Report

![60b00042738d755342ed8a6b7afc0bdf](https://user-images.githubusercontent.com/787076/49150777-fe8caa00-f31e-11e8-8d61-d3fe83305a80.png)

## To Reproduce

Steps to reproduce the behavior:

1. Use vetur and options:
[code]
2. Format document

Paste your markup here:

[code]

## Expected behavior

Paste the results here:

[code]

## Context

- [ ] Angular
- [ ] Svelte
- [x] Vue
- [ ]

[2018-11-28 18:09] StarpTech commented on #77
Hi @lhajh thank you for the proposal but doesn't include a comparison about pro and cons. The current rule was adopted by vue styleguide because it reduces whitespace it easy to understand when a tag begins.

[2018-11-28 18:09] #77 closed

[2018-11-28 19:38] #78 closed

[2018-11-28 21:07] StarpTech commented on #79
Hi @FFxSquall thank you for the bug report. This is a bug.

[2018-12-02 00:01] pxwee5 opened #80 "Space before self closing tags"
## 🚀 Feature Proposal
Align with Vue's style guide

## Motivation
https://github.com/vuejs/eslint-plugin-vue/blob/master/docs/rules/html-closing-bracket-spacing.md

## Example
In
[code]

out
[code]

Note the space before the self closing tag.

[2018-12-02 20:39] flurmbo commented on #79
Hey @StarpTech mind if I work on this issue?

[2018-12-02 21:09] StarpTech commented on #79
Hi @flurmbo thank you very much but I'm already on it and will provide a fix today.

[2018-12-02 21:11] flurmbo commented on #79
No problem @StarpTech, glad I asked!

[2018-12-02 21:19] StarpTech commented on #70
@flurmbo Would you like to create on this issue?

[2018-12-03 22:32] StarpTech commented on #80
Hi @pxwee5 thank you for the proposal. According to the eslint rule you can set it to `never`.

[2018-12-03 22:33] StarpTech commented on #76
Closing due to inactivity.

[2018-12-03 22:33] #76 closed

[2018-12-03 22:41] flurmbo commented on #70
Could you give some guidance on what sort of tests you're looking for? Making sure that the flags in prettyhtml/cli.js do what they're supposed to do for example

[2018-12-03 22:43] StarpTech commented on #70
Exactly. You need to test the [cli](https://github.com/Prettyhtml/prettyhtml/blob/master/packages/prettyhtml/cli.js) and the prettyhtml [api](https://github.com/Prettyhtml/prettyhtml/blob/master/packages/prettyhtml/index.js).

[2018-12-03 23:16] flurmbo commented on #70
Ok, I'll give it a try. I'll let you know when I've written a couple of tests so you can take a look and tell me if I'm doing it right

[2018-12-04 08:02] StarpTech commented on #70
Sure :+1:

[2018-12-04 20:38] StarpTech commented on #79
Fixed in v0.8.6

[2018-12-04 20:38] #79 closed

[2018-12-05 09:08] #26 closed

[2018-12-05 09:59] my9074 opened #81 "prettyhtml-quick with .vue files"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

I learned from `vetur` that it formats html via `prettyhtml`. So I am going through `prettyhtml-quick` to prepare the `template` for verifying the vue file in the `pre commit` stage. But I found that it does not verify the `vue` file.

I looked at the source code and found that [prettyhtml-quick, L30](https://github.co

[2018-12-05 10:11] StarpTech commented on #81
Hi @my9074 thank you for the proposal. In the first instance prettyhtml has nothing to do with vetur it's just a consumer of this tool. Prettyhtml was build for web frameworks only without any convern to parse a specific file format e.g `.vue` etc. If you need a preprocessor you have to implement by yourself or create a feature-requests in vetur.

[2018-12-05 10:11] #81 closed

[2018-12-06 08:37] xiaomingplus opened #82 "Vue custom components format error"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

when I use a custom component with properties(type and value) in VUE , pretty html throw an error.

## To Reproduce

Steps to reproduce the behavior:

Paste your markup h

[2018-12-06 23:08] #82 closed

[2018-12-07 02:50] xiaomingplus opened #83 "Script comment format error"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

Prettyhtml format comment add an intend every running format.

## To Reproduce

Steps to reproduce the behavior:

Paste your markup here:

[code]

## Expected behavior

I

[2018-12-07 05:08] flurmbo opened #84 "running CLI on file that doesn't exist will create an empty file"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

If I run the command `packages/prettyhtml/cli.js doesnotexist.html` from my terminal, I get the following error message:

[code]

This is as expected, but when I look at

[2018-12-07 05:47] flurmbo opened #86 "CLI sortAttributes flag not working"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

As stated in the title

## To Reproduce

Steps to reproduce the behavior:

Running the following commands from the terminal:
[code]
Results in:
[code]

Paste your markup

[2018-12-08 10:44] #86 closed

[2018-12-08 11:04] StarpTech commented on #83
Hi @xiaomingplus thank you for the bug report but this is indeed the correct behaviour. We indent the code with the base indentation. This is an opinionated approach discussed in detail [here](https://github.com/Prettyhtml/prettyhtml/issues/59)

[code]
[code]

[2018-12-08 11:05] #83 closed

[2018-12-08 16:46] StarpTech commented on #83
@xiaomingplus thank you. I will investigate.

[2018-12-09 21:37] StarpTech commented on #83
The issue was fixed in https://github.com/Prettyhtml/prettyhtml/releases/tag/v0.8.9

[2018-12-10 21:44] StarpTech opened #88 "How we should deal with template expressions?"
## 💬 Questions and Help

In https://github.com/Prettyhtml/prettyhtml/pull/87/files I implemented a framework agnostic template expression parser. The question is now: How we should deal with template expressions? Should we clean up them up from whitespaces? Should we follow a style?

[2018-12-11 08:13] xiaomingplus opened #89 "Can't pass vetur unit test"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

The latest version can't pass vetur unit test. Because the `|` format.

## To Reproduce

Steps to reproduce the behavior:

Paste your markup here:

[code]

## Expected be

[2018-12-11 08:14] xiaomingplus commented on #89
pr: https://github.com/vuejs/vetur/pull/1020

[2018-12-11 17:29] StarpTech commented on #84
Issue was reported in https://github.com/unifiedjs/unified-engine/issues/34

[2018-12-11 21:04] StarpTech commented on #89
@xiaomingplus There is nothing to do on prettyhtml. Feel free to reopen.

[2018-12-11 21:04] #89 closed

[2018-12-12 18:18] octref opened #90 "Prettyhtml should not put multiple tags into the same line"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

https://github.com/vuejs/vetur/issues/1018
Related: https://github.com/prettier/prettier/pull/5596

When user explicitly choose to put elements in multiple lines, prettyh

[2018-12-12 21:38] StarpTech commented on #90
Hi @octref thanks for the bug report. The current behavior is correct but this is tricky because the `template` tag isn't whitespace sensitive but when it will be replaced it will create a different result. I think we should add the `template` tag to the [list](https://github.com/Prettyhtml/prettyhtml/blob/master/packages/rehype-minify-whitespace/list.json) so that the nodes are handled as not col

[2018-12-12 22:15] octref commented on #90
That makes sense to me. Thanks!

[2018-12-14 04:27] xiaomingplus opened #92 "@starptech/rehype-minify-whitespace npm package is missing some files"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

I think 0.8.13 `@starptech/rehype-minify-whitespace` is missing some files, such `list.js`

## context

your can run :

[code]

the `node_modules/@starptech/rehype-minify

[2018-12-14 07:42] StarpTech commented on #92
Thank you for the bug report. It will be fixed asap.

[2018-12-14 09:17] StarpTech commented on #92
Fixed in v0.8.14

[2018-12-14 09:17] #92 closed

[2018-12-15 16:41] vratojr opened #93 "Disable automatic case conversion for vuejs files"
## 🚀 Feature Proposal

Hello, it would be great to have the possibility to disable automatic case converstion when formatting vuejs template files.

currently the behaviour is that:
[code]
becomes
[code]

## Motivation & Example

This is ok for html but when used in the scope of nativescript-vuejs integration this brings problems. In this context, templates are xml (not html) files and are **case

[2018-12-15 16:52] StarpTech commented on #93
Hi @vratojr thank you for the bug report. This won't be supported because in the first instance we support HTML Web frameworks like vue, angular. We support case-sensitivity but only for unknown html elements and attributes. `colspan` is known and is normalized. In order to support it we would need to fork [`property-information`](https://github.com/wooorm/property-information). It could be good s

[2018-12-15 17:19] vratojr commented on #93
Hello, thankt you for the quick answer.
Wouldn't be possible to just add an option to enable/disable case sensitivity? Since you are already doing it for some elements, it makes me think that it shouldn't be that complex to handle ALL elements. But I don't know the code :)

[2018-12-17 19:08] tao-cumplido opened #94 "Wrap long paragraphs"
## 🚀 Feature Proposal

Text nodes seem to be ignored currently, which results in badly formatted paragraphs to stay that way. It would be nice if long paragraphs would break lines according to the print width setting.

## Motivation

Currently the following input

[code]
results in this output

[code]
which is even worse, because the closing tag is lost at the end of the line.

Since line breaks f

[2018-12-17 19:38] StarpTech commented on #94
Hi @tao-cumplido thank you for the proposal. I agree this can be improved. Would you like to send a PR?

[2018-12-17 19:52] StarpTech commented on #94
I think it's not worth to handle these case but please give it a try. Please be aware of such cases. This would require that we can work with template expressions. I provide a package https://github.com/Prettyhtml/prettyhtml/blob/master/packages/expression-parser for that but.

[code]
should not break in this way because it would manipulate the data
[code]

[2018-12-18 16:09] StarpTech opened #95 "Improve text indentation"
### Input

[code]

### Output

[code]

## Expected
[code]

[2018-12-18 22:47] #95 closed

[2018-12-19 10:34] nivv commented on #19
@StarpTech can we have an option to enable/disable this?

[2018-12-19 10:41] StarpTech commented on #19
Hi @nivv could you eloborate why? I don't add an option so easily the formatter follows the same philosophy about options as prettier

https://prettier.io/docs/en/option-philosophy.html

[2018-12-19 11:08] nivv commented on #19
@StarpTech I see, I wasn't aware. Languages differ in their style guides. This is awesome for Vue, but if I want to use this for another language the format is "wrong". No worries though!

[2018-12-19 11:50] StarpTech commented on #19
@nivv yes, the experiment of this project is to align them all together. There aren't "wrong" formatting here. There are styles and a lot of opinions 😄 I'm trying to be productive and prettyhtml helps a lot to be in teams.

[2018-12-20 09:40] StarpTech commented on #94
The current state of the formatter formats primary on node-level + tag length (incl attributes), not content. You can still format your text manually and it will be preserved.

[2018-12-26 08:17] Lanseuo opened #97 "Link is wrapped although it does not exceed 'printWidth'"
## 🐛 Bug Report

I have a link which ends at col 73. If I set 'printWidth' lower than 210, the link is wrapped. Otherwise it stays the same. On the other hand, other elements only get wrapped, if they exceed 'printWidth'.

## To Reproduce

I am using Vetur in VS Code

[code]

Steps to reproduce the behavior:

[code]

becomes

[code]

## Expected behavior

It should stay the same

[code]

## Contex

[2018-12-26 19:43] StarpTech commented on #97
Hi @Lanseuo which prettyhtml version? I can't reproduce it with the latest version in the playground?

[2018-12-27 10:17] chenshipi opened #98 "prettyhtml换行格式化"
如何将prettyhtml换行格式化设置成js-beautify-html的force-aligned效果？
列如超过100长度换行效果
<button @click="getDate"
            class="test-btn"
            style="border:1px solid #cccccc;"
            prop="ceshi"
            label="qunidayede"></button>
而不是下面这种
<button
      @click="getDate"
      class="test-btn"
      style="border:1px solid #cccccc;"
      prop="ceshi"
      label="qunidayede"

[2018-12-27 16:13] Lanseuo commented on #97
I don't know which version of prettyhtml is installed. I can't find out where VSCode installed the package. How can I find out?
I am using Vetur 0.14.4
In the playground I am unable reproduce it as well.

[2018-12-27 22:38] StarpTech commented on #98
Hi @chenshipi please create an issue in English.

[2018-12-27 22:38] #98 closed

[2018-12-29 07:11] magpiedigital opened #99 "Wrap by attribute"
## 🚀 Feature Proposal

It would be a great feature to be able to wrap by the attribute type. This way some of your attributes will stay on the first line, some will get moved onto a new line. As an added bonus, these would be ordered to your preference.

## Motivation

I find that just newlining by number of attributes makes the code inconsistent and more difficult to read. Personally, I like clas

[2018-12-29 12:47] StarpTech commented on #99
Hi @magpiedigital thank your for the proposal. Prettyhtml is very opinionated and I think there are a bunch of people who don't like it but it works great so far. It should be simple as possible and we follow the same option [philosophy](https://prettier.io/docs/en/option-philosophy.html) as prettier. Your proposal would introduce many changes and too much flexibility to force a specific style.

[2018-12-29 12:47] #99 closed

[2018-12-29 14:56] kailniris opened #100 "eslint-plugin-vue compatibility"
## 🚀 Feature Proposal

There should be options to honor eslint-plugin-vue rules. According to the description this tool is opinionated so instead of [tweaking eslint rules](https://github.com/Prettyhtml/prettyhtml/issues/80) to be compatible with this formatter the tool should honor the plugin:vue/recommended rules by default or with options if this formatter wants to support vue files.

## Motiva

[2018-12-29 20:16] StarpTech commented on #100
Hi @kailniris thank you for your proposal. Please have in mind that prettyhtml wasn't made for vue only but I will accept any proposal which makes the output more readable and consistent.

1. [vue/singleline-html-element-content-newline](vue/singleline-html-element-content-newline) I don't understand this rule. It will add extra newlines where it's not neccessary.

2. [vue/html-closing-bracket-spa

[2018-12-29 21:08] kailniris commented on #100
In my opinion both rules serve readability but there is no point going into a tab vs space debate here.
Its possible to tweak eslint rules the match the formatter but I think its a really bad practice.
There is a centralized rule set and I think everybody should stick to it to maintain style consistency between projects. So if every tool would require just a little bit of tweaking to the different

[2018-12-30 02:18] thearabbit opened #101 "Problem with vue/html-indent"
![image](https://user-images.githubusercontent.com/4495160/50543805-c32e1580-0c13-11e9-801d-8a29e5f3f794.png)

[code]

[2018-12-30 14:31] StarpTech commented on #101
Please follow the issue template.

[2018-12-30 14:31] #101 closed

[2018-12-30 14:39] StarpTech commented on #100
Hi @kailniris as I mentioned earlier prettyhtml wasn't built for vue only. The fact that some rules aren't 100% compatible with the default settings of an external package is no reason for me to change our rules. If you want to change something show us the clear benefit, both of your proposed rules are just a matter of taste.

[2018-12-30 23:48] thearabbit commented on #101
Sorry, thanks I will issue on Gitter

[2018-12-30 23:49] StarpTech commented on #101
You don't have to post it on Gitter but fill the issue template in order to provide a better report.

[2018-12-30 23:52] thearabbit commented on #101
I will try again 👍

[2018-12-31 13:46] StarpTech commented on #100
This shows only the none HTML5 capabilities in order to support a broad range of frameworks.
Adding framework specific rules would collide with the goal of this project.

[2018-12-31 13:46] #100 closed

[2019-01-13 09:18] sumjur opened #102 "sortAttributes results do not match Vue.js style guide"
## 🐛 Bug Report

Sort results do not match [vue/attributes-order](https://github.com/vuejs/eslint-plugin-vue/blob/master/docs/rules/attributes-order.md) and [Vue.js style guide](https://vuejs.org/v2/style-guide/index.html#Element-attribute-order-recommended)

when: `options.sortAttributes:true `

## To Reproduce

Steps to reproduce the behavior:

Paste your markup here:

[code]

## Expected behavi

[2019-01-13 13:59] StarpTech commented on #102
Why do you think that we have to follow this rule? Prettyhtml is a general formatter for different frameworks. The sort option only sorts alphabetically.

[2019-01-20 17:56] sam3d commented on #80
@StarpTech Would you accept a PR changes the formatting to add a space before the self closing tag? This is standard best practice and is the way the current default prettier implementation works.

[2019-01-20 21:45] sam3d commented on #80
Good to know, thank you!

And I will do when I get a moment.

[2019-02-04 09:31] media233 opened #103 "Ignore HTML tags"
## 🚀 Feature Proposal

Add config to ignore specific HTML tags. For example, I don't like SVGs to be wrapped.

## Motivation

I want my lines to be at most 120 characters long. But some tags look ugly, if you put them on several lines.

## Example

[code]

SVG can stay on one line.

`options.ignoreTags = ['svg']`

My configuration

[code]

## Vote

If you agree with my proposal vote with a 👍

[2019-02-05 17:30] jongio opened #104 "Custom tags are handled in block-formatting context"
## 🐛 Bug Report

Whitespace in innerHTML is not preserved.

## To Reproduce
When you format this:
[code]

## Expected behavior

The space after `Home</router-link>` should be preserved.

[code]

## Context

- [ ] Angular
- [ ] Svelte
- [x ] Vue
- [ ] Riot
- [ ] HTML5 only

## Your Environment

- Prettyhtml version:
- NodeJs version: 10.15.1
- Environment name and version: VS Code1.30.2
61122f88f0b

[2019-02-05 19:36] jongio commented on #104
@StarpTech - Are you saying that the space is removed due to case sensitivity?  I'm not following that, but I also don't know the code.  To me, not sure that new title describes the issue.

[2019-02-05 21:39] StarpTech commented on #104
Hi @jongio you're right the title wasn't accurate. For more informations see https://medium.com/@patrickbrosset/when-does-white-space-matter-in-html-b90e8a7cdd33

[2019-02-05 22:03] sam3d commented on #80
Sorry I haven't had any time to get to this; my team and I just decided to just use prettier's default formatting for HTML (despite my gripes with it) because it's easier for us to adopt globally and supports self-closing tags for vue by default.

@StarpTech I apologise I don't think I'll have time to work on a PR for this in the near future :(

[2019-02-05 22:13] jongio commented on #80
@sam3d - When you have time, could you share the ES Lint rules you use with Prettier to allow no space on self-closing tag?

[2019-02-19 14:54] #103 closed

[2019-02-24 19:52] StarpTech commented on #84
Fixed with latest update of unified engine.

[2019-02-24 19:52] #84 closed

[2019-03-09 03:54] AgentCosmic opened #105 "Possible to configure prettyhtml via package.json or config file while using vetur?"
prettyhtml is ignoring tabWidth so when I format my .vue document everything is 4 spaces except for template tag.

[2019-03-09 11:46] StarpTech commented on #105
This project isn't related to Vetur. Please open an issue there. The config resolver mechanism is the same as in prettier. I don't know how vetur determine the config.

[2019-03-09 11:46] #105 closed

[2019-03-29 19:59] barnesheaton commented on #77
My argument would be that this would reduce the number of lines on especially large files. Super nice if you're already used to reading your templates in the proposed format anyways.

[2019-03-31 22:59] sidouglas opened #106 "<use> tag should be void"
## 🐛 Bug Report

`<use>` tag should be void.

## To Reproduce

Given this markup
[code]
![bug](https://user-images.githubusercontent.com/1107946/55296410-c29c5980-5464-11e9-9ba6-a00a3923b443.png)

## Expected behavior
Expect to see
[code]
![correct-output](https://user-images.githubusercontent.com/1107946/55296415-cc25c180-5464-11e9-8017-565d6f3e71e9.png)

## Your Environment

- Prettyhtml version

[2019-04-01 08:23] StarpTech commented on #106
Hi @sidouglas thank you for the bug report. Would you like to send a PR? The list of all the elements can be found [here](https://github.com/snabbdom/snabbdom-to-html/blob/9ecb7851ddf67bba4f0180e61f57aab429c7adce/elements.js).

[2019-04-01 13:55] JayaKrishnaNamburu commented on #106
Hey, @StarpTech I too have the same issue with ``div`` tag. I am ok to raise a PR too, Please let me know 😄  and thanks for the great tool 😃

<img width="1280" alt="Screenshot 2019-04-01 at 7 24 04 PM" src="https://user-images.githubusercontent.com/11075561/55332870-d4591d80-54b3-11e9-936d-807704553ba3.png">
<img width="1280" alt="Screenshot 2019-04-01 at 7 23 59 PM" src="https://user-images.githu

[2019-04-01 14:42] StarpTech commented on #106
@JayaKrishnaNamburu don't see prettyhtml as the source of truth. In that case a div tag shouldn't be considered as void tag. We rely on [html-void-elements](https://github.com/wooorm/html-void-elements)

[2019-04-01 14:54] JayaKrishnaNamburu commented on #106
@StarpTech was curious because ``use`` was also missing from the list, is there any way to mimic the behavior with the current settings?

[2019-04-01 14:57] StarpTech commented on #106
@JayaKrishnaNamburu html-avoid-elements doesn't handle svg tags. For those use the other resource [here](https://github.com/snabbdom/snabbdom-to-html/blob/9ecb7851ddf67bba4f0180e61f57aab429c7adce/elements.js).

[2019-04-01 15:04] JayaKrishnaNamburu commented on #106
Hey @StarpTech thanks for your time 👍

[2019-04-04 11:02] HannibalKcc opened #107 "How to make '>' not a single line"
**ide:** VSCODE

**extention:** vetur

**setting.json:**
[code]

source:
[code]

after format:
[code]

i hope get:
[code]

thank you

[2019-04-12 06:03] JayaKrishnaNamburu commented on #106
Hey @StarpTech i would like to fix this PR, but I have a small doubt, since the void elements are being imported from [html-void-elements](https://github.com/wooorm/html-void-elements) I am not sure where to change this, since the same elements are passed down to the code, do you want me to append ``use`` to the list of elements that are being imported 🤔 😅

[2019-04-20 15:31] StarpTech commented on #107
Hi @HannibalKcc this is intentionally. A single node/expression is never wrapped on a new line.

[2019-04-20 15:31] #107 closed

[2019-04-28 01:35] sidouglas commented on #106
So does the buck get passed to the `html-void-elements` package?

[2019-04-28 10:10] #80 closed

[2019-04-28 10:11] StarpTech commented on #106
Closed in #109

[2019-04-28 10:11] #106 closed

[2019-05-15 12:41] lucaperret opened #110 ".prettyhtmlrc"
## 🚀 Feature Proposal

As [prettier do](https://prettier.io/docs/en/configuration.html), use [cosmiconfig](https://github.com/davidtheclark/cosmiconfig) to get the prettyhtml configuration from the working directory.

## Motivation

I want to extend prettyhtml from the local project, [not from the Vetur VSCode extension configuration](https://github.com/vuejs/vetur/blob/master/server/src/modes/tem

[2019-05-20 20:24] superMDguy opened #111 "Add "check" option (similar to prettier --check)"
## 🚀 Feature Proposal

Add a `--check` option (like [prettier](https://prettier.io/docs/en/cli.html#check)), that checks if all files are correctly formatted.

## Motivation

This is useful for verifying formatting for CI builds.

## Example

[code]
## Workaround

If you're using git, you can run prettyhtml and then check if any files changed. However, this will fail even if files not touched by p

[2019-05-27 02:21] qiu8310 opened #112 "prettyhtml will remove auto close slash"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

[code]

will output

[code]

How can I get `<input />` instead?

[2019-05-29 07:55] vm0100 commented on #112
I also have this problem.   <image></image> to  <image>

[2019-06-04 15:10] gaetansenn commented on #112
Me too ! Can we add an option to this ?

[2019-06-11 20:59] #111 closed

[2019-06-15 08:03] StarpTech commented on #110
Hi @lucaperret would you like to send a pr?

[2019-06-21 07:33] #112 closed

[2019-06-21 09:19] StarpTech commented on #112
Hi @qiu8310 this is expected behaviour because the `input` node is a void element and doesn't need to be closed per spec.

[2019-07-07 09:16] #110 closed

[2019-08-17 17:28] thedamon opened #113 "Whitespace is being added around spans"
## 🐛 Bug Report

white space is being added in between spans with no discernible way to stop it

## To Reproduce

Steps to reproduce the behavior:

Paste your markup here:

[code]

## Expected behavior

 the t is part of the word 'emergent', so if it needs to not have a space in front of it. The formatting should not change the resulting markup.

Current Results:

[code]

We are getting spaces ins

[2019-08-17 20:06] StarpTech commented on #113
Hi @thedamon would you like to send a PR?

[2019-08-18 02:38] thedamon commented on #113
I don't think i have the expertise or time to look at this within a reasonable timeframe.
I suspect there may be some complications involved in determining exactly how to compute line wrapping without changing the whitespace

[2019-08-18 10:20] StarpTech commented on #113
My time is also very limited and it has currently no priority. Feel free to ask for a starting point otherwise go with prettier as formatting tool.

[2019-08-20 10:00] kazehaiya opened #114 "Set ">" after the last attributes configurable"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

Print width: 40

[code]

## Motivation
shink code in editor(Ignore the whitespace problem):

[code]

The methods before I should click twice and the second one looks more simple.

I see that plugin `js-beauty` has confugurable attribute `end_with_newline` can control the ">", but the wrap rule is not good as `prettyhtm

[2019-08-21 02:53] thedamon commented on #113
Prettier team refuses to let us wrap attributes 1 per line so prettyhtml is my friend 😍

I could see where this would get hard to want to maintain with prettier doing much the same thing. If you know roughly where I might look I'd be curious to have a look and maaaaybe come up with something.

[2019-08-25 13:42] Mister-Hope opened #115 "No unwrap after '>'"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

## Motivation

Please outline the motivation for the proposal.

## Example

Please provide an example for how this feature would be used.

## Vote

If you agree with my proposal vote with a 👍

Sorry I am not a navtive English speaker, so forgive me to write like this way.

Vetur contain this lib as it's default html fi

[2019-08-25 13:53] GodofHope commented on #107
but it is conflict with [singleline-html-element-content-newline](https://vuejs.github.io/eslint-plugin-vue/rules/singleline-html-element-content-newline.html), which is on in `plugin:vue/strongly-recommended` [link](https://vuejs.github.io/eslint-plugin-vue/rules/#priority-b-strongly-recommended-improving-readability)

[2019-08-26 01:48] 1057891494 opened #116 "Some scenes need to have double quotes and single quotes at the same time"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/Prettyhtml/Lobby) and ask any questions you have or mention any problems you've had getting started with prettyhtml.

## 🐛 Bug Report

Some scenes need double quotes and single quotes existing at the same time

## To Reproduce

I have this code in the vue template:

[code]

When I use formatting, the cod

[2019-08-26 06:39] StarpTech commented on #116
Would you like to work on this?

[2019-08-27 06:27] 1057891494 commented on #116
Maybe i can have a try,i will upload to you,you can accept it or modify, its up to you.

[2019-09-11 07:59] StarpTech commented on #115
Please provide a proper issue description.

[2019-09-11 11:26] #114 closed

[2019-09-11 11:33] GodofHope commented on #115
Vetur contain this lib as it's default html fixer. But , when I use plugin:vue/strongly-recommended, it turns on the rule singleline-html-element-content-newline. Witch is conflict with this tools formatting method.

[2019-09-11 11:33] GodofHope commented on #115
https://vuejs.github.io/eslint-plugin-vue/rules/singleline-html-element-content-newline.html

[2019-09-11 11:34] GodofHope commented on #115
This tool wrap method is conflict with the rule above

[2019-09-19 20:13] fractalf commented on #97
@StarpTech I'm still experiencing this problem. Using vetur 0.22.3 which is using [ prettyhtml@0.9.0](https://github.com/vuejs/vetur/blob/v0.22.3/server/package.json#L24)

[2019-10-03 11:45] #115 closed

[2019-10-15 11:24] ThD-Rizer commented on #113
@thedamon hello. Isn't [that](https://github.com/Prettyhtml/prettyhtml#ignore-element) a solution to your problem?

[2019-10-19 01:20] thedamon commented on #113
good workaround yes, thank you. ideally a formatter shouldn’t alter the
underlying code, but that’s a good escape hatch.

On Tue, Oct 15, 2019 at 07:24 ThD-Rizer <notifications@github.com> wrote:

--
Damon Muma
@thedamon
226-268-0544
http://www.whatisdamon.com

[2019-10-31 08:32] y912765390 commented on #104
Hello, I don't know why this library is introduced into the Vue project. With this API, the project will not run. They say we can't find the third party.
Can you help me? Thank you very much.

[2019-10-31 08:32] y912765390 commented on #113
Hello, I don't know why this library is introduced into the Vue project. With this API, the project will not run. They say we can't find the third party.
Can you help me? Thank you very much.

[2019-10-31 08:32] y912765390 commented on #116
Hello, I don't know why this library is introduced into the Vue project. With this API, the project will not run. They say we can't find the third party.
Can you help me? Thank you very much.

[2019-10-31 08:34] y912765390 opened #118 "vue can`t run"
Hello, I don't know why this library is introduced into the Vue project. With this API, the project will not run. They say we can't find the third party.
Can you help me? Thank you very much.

[2019-10-31 09:05] y912765390 opened #119 "vue can`t run"
Hello, I don't know why this library is introduced into the Vue project. With this API, the project will not run. Can't find the third party, can you help me? Thank you very much.

[2019-10-31 09:09] StarpTech commented on #119
I blocked you due to spamming.

[2019-10-31 09:10] #118 closed

[2019-10-31 10:02] Hezhenguo opened #120 "prettier/third-party.js"
hello .
Why did I start the ./node_modules/prettier/third-party.js not found at startup, but I have downloaded the package successfully in node_moules.

[2019-10-31 10:11] StarpTech commented on #120
Hello @Hezhenguo this doesn't look like a prettyhtml issue. Try to remove your node_modules and install them in a fresh state. If this doesn't help please open a new issue with a fully reproducible example.

[2019-10-31 10:11] #120 closed

[2019-11-10 13:50] 7iomka commented on #107
@Mister-Hope , you found any solution? I have exact issue with this :(

[2019-11-10 14:47] Mister-Hope commented on #107
nope, I had suggest the vetur team to change another formatter, since prettyhtml's author wasn't willing to help and add this feature.

[2019-11-10 14:49] Mister-Hope commented on #107
But I have to say that only vue users will met this problem since single text content really shouldn't be wrapped.

[2019-11-18 03:17] wildwind3325 opened #121 "Can we have a "wrap_line_length" option?"
## 🚀 Feature Proposal

## Motivation
Prettyhtml has been used as vue's default html formatter, but I find it doesn't have the "wrap_line_length" feature, which will make one html tag's every single attribute takes a new line, this results in taking too much space, and very very weird.
## Example
[code]
## Vote
If you agree with my proposal vote with a 👍

[2019-12-10 04:28] #121 closed

[2019-12-18 14:01] Adrug opened #122 "Custom attributes sorter order"
## 🚀 Feature Proposal

I suggest to implement the possibility custom sorting of attributes
Like as [posthtml-attrs-sorter#order](https://github.com/mrmlnc/posthtml-attrs-sorter#order)

## Motivation

The developer does not think about the order of attributes in the html tags during the work. He adds them in a random order. Adding them in the right order is a routine task.

## Example

You can see

[2020-01-09 17:04] #122 closed

[2020-02-07 10:26] J3m5 commented on #102
Couldn't the formatting of vue file simply follow the vue style guide?
The vue attributes order could be used only when a vue file is formatted.

[2020-03-03 23:28] rcheung9 commented on #107
@Mister-Hope Too bad this issue isn't fixed.  This should not be closed.

[2020-03-04 04:53] Mister-Hope commented on #107
I agreed, but the author insisted his opinion.

[2020-03-04 10:00] StarpTech commented on #107
@Mister-Hope just to clarify: This project isn't for vuejs only. I created it due to the missing HTML support in prettyhtml. Today, prettyhtml has great support and the power to maintain it. The core principle of this formatter is to stick with rules which are reasonable in terms of readability and shouldn't be controlled by a style guide like `eslint-plugin-vue`.

I'm looking for new maintainers.

[2020-03-16 02:10] SilenceAdam opened #133 "ParseError: Void elements do not have end tags "image""
## Info

  * Platform: macOS
  * Vetur version: 0.22.2
  * VS Code version: 1.37.1

## Problem

weex image component ,Formatting failed:Void elements do not have end tags "image"

## Reproducible Case

[![image](https://user-images.githubusercontent.com/13724148/64234243-78923500-cf28-11e9-8656-be5c44fa8145.png)](https://user-images.githubusercontent.com/13724148/64234243-78923500-cf28-11e9-8656-b

[2020-03-18 05:01] huzedong2015 opened #134 "new options wrapAttributeMax"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

## options.wrapAttributeMax

When the property exceeds the specified number of line breaks

## Example
options.wrapAttributeMax：3

**nowrap**
`<div class="a" :data="data" name="name"></div>`

**wrap**
`<div
class="a"
:data="data"
name="name"
:age="20"></div>`

## Vote

If you agree with my proposal vote with a 👍

[2020-03-31 07:57] StarpTech commented on #133
Image is a self-closing tag according HTML. We don't support weex special syntax.

[2020-03-31 07:57] #133 closed, assigned to nobody

[2020-03-31 08:02] StarpTech commented on #133
Feel free to investigate. I will try to help.

[2020-04-09 09:01] #134 closed, assigned to nobody

[2020-04-13 13:48] shenchaoran commented on #133
Is there any progress, I have the same question

[2020-04-29 08:49] lqzhgood commented on #114
to more new line~
I think this idea is great.

[2021-06-08 07:13] Heartnett opened #143 "Security Issue - outdated meow package"
## 🐛 Bug Report

meow@5.0.0 uses trim-newlines@2.0.0 which has **Regular Expression Denial of Service** vulnerability.

## To Reproduce

Steps to reproduce the behavior:

`npm audit`

## Expected behavior

**No security vulnerabilities.**

## Context

- [ ] Angular
- [ ] Svelte
- [ ] Vue
- [ ] Riot
- [ ] HTML5 only

## Your Environment

- Prettyhtml version: **0.10.0**
- NodeJs version: N/A
- Envi

[2021-06-08 09:57] StarpTech commented on #143
Hi @Heartnett, this project is no longer maintained but I'd accept a PR if it is important for the community. I recommend to switch to prettier.

[2021-06-08 11:14] Heartnett commented on #143
@StarpTech I dont use this project directly, but noted.

[2021-06-08 11:16] Heartnett commented on #143
Maybe update the readme file to indicate that the project is no longer maintained?

[2021-06-08 11:16] #143 closed, assigned to nobody

[2021-07-06 09:10] klevron opened #144 "Could not find a declaration file for module 'vfile-message'"
## 🐛 Bug Report

Error with TS : `error TS7016: Could not find a declaration file for module 'vfile-message'`

## To Reproduce

Install in a project and run tsc.

## Your Environment

- Prettyhtml version: 0.10.0
- NodeJs version: v14.17.0

[2021-07-06 09:11] klevron commented on #144
Temporary fix, add this in `package.json` :
[code]

[2022-01-08 23:22] #144 closed, assigned to nobody

[2022-03-02 07:02] mariusa opened #152 "Space is removed after '</router-link>'"
## 🐛 Bug Report

On save, this
[code]

is changed to
[code]
removing the white space after `</router-link>`

## To Reproduce

Steps to reproduce the behavior:

Paste your markup here:

[code]

## Expected behavior

Leave a space after `</router-link>`

Paste the results here:

[code]

## Context

- [ ] Angular
- [ ] Svelte
- [x] Vue
- [ ] Riot
- [ ] HTML5 only

## Your Environment

- Prettyhtml ve

[2022-04-28 03:29] #152 closed, assigned to nobody